/* styles/general.css */
:root {
  --bg-primary: #d3565c;
  --bg-secondary: rgb(255, 245, 247);
  --bg-tertiary: #ffffff;
  --text-primary: rgb(178, 71, 96);
  --text-secondary: #ffffff;
  --text-tertiary: #000;
  --accent: #3889a5;
  --accent-hover: #24596b;
  --danger: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-image: url(../assets/signing.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-primary);
  min-height: 100vh;
}

nav {
  background-color: var(--bg-tertiary);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1.8rem;
  font-family: 'Quantify', sans-serif;
  font-weight: 400;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logout-btn {
  width: auto;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-tertiary);
  font-weight: 600;
}

input, select, textarea {
  width: 100%;
  padding: 0.6rem;
  background-color: var(--bg-tertiary);
  outline: none;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 500;
  border-radius: 4px;
  font-size: 13px;
}

button {
  background-color: var(--bg-primary);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.9;
}

.hidden {
  display: none !important;
}

.action-button {
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  font-family: 'Quantify', sans-serif;
  cursor: pointer;
}

.accept-button {
  background: #00C851;
  color: white;
}

.reject-button {
  background: var(--danger);
  color: white;
}

.status-pending {
  background-color: #ca8a04;
}

.status-approved {
  background-color: #16a34a;
}

.status-rejected {
  background-color: var(--danger);
}

/* Responsive styles */
@media (max-width: 768px) {
  .action-button {
    width: 100%;
  }
}